/* Common */
	body
	{
		margin: 0px;	
		font-size: small;
		font-family: helvetica;
	}

	a
	{
		text-decoration: none;
		color: rgb(32,74,117);
	}

	a:hover
	{
		color: rgb(78,122,166);
	}

	ul
	{
		list-style:none;
		padding:0px;
	}

	img
	{
		border:none;
	}
/*Header*/
header
{
	background-image: url("../images/header-bg.gif");
}
	div#header
	{
		height: 100px;
		width:800px;
		margin:0 auto;
	}
		a.sign
		{
			width: 108px;
			float: right;
			margin-right: 20px;
			background-color:rgb(53,197,5);
			text-align: center;
			line-height: 28px;
			text-decoration: none;
			font-size: 17px;
			color: white;
		}
		div#fbcont
		{
			margin-top: 25px;
			margin-right: 20px;
			float: right;
			position: relative;
		}
/*		a.sign:hover
		{
			background-color:rgb(31,95,3);
			font-weight: bold;
		}*/
		div#fbcont
		{
			/*display: inline;*/
		}
		.fb-connect
		{
			/*display: inline-block;*/
			background: url("../images/social-sprites.png") -300px 0px no-repeat;
			height: 60px;
			width: 255px;
			display: block;
			vertical-align: baseline;
		}
		.fb-connect:hover 
		{
			background: url("../images/social-sprites.png") -300px -100px no-repeat;
		}
		.fb-connect:active
		{
			background: url("../images/social-sprites.png") -300px -200px no-repeat;
		}
		.left
		{
			float: left;
		}
		.right
		{
			float:right;
		}
		div#separator
		{
			height: 60px;
			width: 3px;
			border-right: solid 1px grey;
			margin-top: 15px;
		}
		div#sectionName
		{
			font-size: 32px;
			margin-top: 30px;
			color: #9FA2A6;
			padding-left: 15px;
		}

/*Content*/
	/*Index*/
	div#mainContainer	
	{
		height: 380px;
		background:url("../images/index-background.jpg");
		padding-top:50px;
		padding-left:50px;
		text-align: left;
		border-top: 1px solid grey;
	}
	 div#mainContainer div#mainMessage
		{
			width: 330px;
		}

		div#mainContainer div#mainMessage div#mainMessageOptionContainer
		{
			padding-left: 40px;
		}

		div#mainContainer div#mainMessage div.mainMessageHeader h1
		{
			font-size: 33px;
		}
		div#mainContainer div#mainMessage div.mainMessageText
		{
			font-size: 16px;
		}
		div#mainContainer div#mainMessage div#mainMessageOptionContainer div.mainMessageOption
		{
			height: 40px;
			width: 200px;
			opacity: 0.7;
			background-color: black;
			color:white;
			text-align: center;
			line-height: 40px;
		}

	div#container
	{
		border-top: 1px solid grey;
		/*padding-bottom: 70px;*/
		background-image: url("../images/common.png");
	}
		div.contentPadding
		{
			padding-top:70px;
			padding-bottom: 70px;			
		}


		div.content
		{
			margin: 0 auto;
			/*background-color: rgb(241,241,241);*/
			background-image:url("../images/paper.jpg");
			width: 700px;
			padding-left: 80px;
			padding-right: 80px;
			margin-bottom:20px;
			box-shadow:2px 2px 2px 2px;
		}
		div.content div.subcontent
		{
			/*Will be modified to add images*/
			font-size: 16px;
		}
		div.content div.subcontent div.subContentPadding
		{
			padding-top: 10px;
		}
		div.content div.subcontent input
		{
			border: solid 1px grey;
			height: 20px;
		}
		div.contentBorder
		{
			border: solid 1px blue;
		}
		div.content h2
		{
			margin-top: 0px;
		}
		div.subcontent img#captchaImage
		{
			display: block;
			margin: 0 auto;
		}
		
		/*Help*/
		div.helpPadding div.bodyRow
		{
			margin-bottom: 10px;
		}
		div.helpPadding div.bodyRow div.container
		{
			border: solid 1px grey;
			padding:10px;
			width: 500px;
		}



		/*About*/
		div.aboutPadding
		{
			padding-left: 0px;
			width: 780px;
		}
		div#aboutContent div.left
		{
			width: 200px;
			text-align: right;
		}
		div#aboutContent div.right
		{
			width: 68%;
		}
		div#aboutContent div.textContainer > h1:first-child
		{
			font-weight: 300;
			font-size: 32px;
		}
		div#aboutContent div.left div.menu li
		{
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 20px;
			background-position-x: -20px;			
		}
		div#aboutContent div.left div.menu li.selected
		{
			background-image: url("../images/aboutNav.png");

		}
		div#aboutContent div.left div.menu li:hover
		{
			background-image: url("../images/aboutNav.png");
			background-position-y: 37px;
		}

		/*Register*/
		div#signUpContent
		{
			padding-bottom: 70px;
			min-height: 300px;
		}
		div#signUpContent div.menuPages
		{
			padding-top: 20px;
			padding-bottom:20px;
		}
		div#signUpContent div.menuPages img
		{
			margin: 0 auto;
			display: block;
		}
		div#signUpContent div.page input
		{
			border: solid 1px black;
		}
		div#signUpContent div.page div.pageBody
		{
			padding-top:30px; 
		}		
		div#signUpContent div.page div.pageBody > div.left 
		{
			width: 43%;
		}
		div#signUpContent div.page div.pageBody > div.right
		{
			width: 43%;
		}

		div#signUpContent div.page div.pageBody div.bodyRow
		{
			line-height: 20px;
			padding-bottom:10px;
		}

		div#signUpContent div.page div.pageBody div.left div.bodyRow div.left
		{
			width: 43%;
			text-align: right;
			line-height: 26px;
		}
		div#signUpContent div.page div.pageBody div.right div.bodyRow div.left
		{
			width: 30%;
			text-align: right;
			line-height: 26px;
		}

		div#signUpContent div.page div.pageTitle
		{
			font-size: 20px;
		}
		div#signUpContent div.page div.leftAlign
		{
			text-align: left;
		}

		div#signUpContent div.page div.rightAlign
		{
			text-align: right;
		}
		div#signUpContent div.page div.pageBody div.right div.bodyRow div.right
		{
			width:200px;
		}
		div#signUpContent div.page div.pageBody div#socialTags div.socialName
		{
			width: 100px;
			padding-left:30px;
		}
		div#signUpContent div.page div.pageBody div#socialTags input
		{
			border: solid 1px black;
			width: 420px;

		}
		div#signUpContent div.page div.pageBody div#socialTags textarea
		{
			width: 474px;
			height: 90px;
			resize: none;
		}
		div#signUpContent div.page div.pageBody div#socialTags div.right
		{
			padding-right: 90px;
		}

		div#signUpContent div.page div.pageBody div#socialTags img
		{
		}

		div#signUpContent div.buttonContainer
		{
			
		}
		div#signUpContent div.buttonContainer button
		{
			width: 70px;
		}
		div#signUpContent div.page div.pageBody div.passwordContainer
		{
			padding-left:50px;
		}

/*Bottom*/
	footer
	{
		padding-top: 30px;
		padding-bottom:25px;
	}
	footer div#nameContainer
	{
		float: left;
		margin-top: 5px;
		margin-left: 40px;
	}
	footer div#linksContainer
	{
		float: right;
		margin-right: 40px;
	}

	footer div#linksContainer ul
	{
		list-style: none;
		margin: 0 0 0 0;	
	}
		footer div#linksContainer ul li 
		{
			display: inline;
			margin-right: 20px;
		}

/*Messages*/
	div#messageContainer
	{
		width: 300px;
		border: solid 1px blue;
		padding: 10px 20px;
		background-color: white;
	}
	div#messageContainer button
	{
		width: 40px;
		text-align: center;
	}

/*FOR TEST PORPOUSES*
div
{
	border: solid red 1px;
}

/*UTILS*/
div.clear
{
	clear: both;
}
div.line
{
	border-top:solid 1px gray;
}
div.hidden
{
	display: none;
}

/* TESTING */


